@import url("https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

#all {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 12vh 73vh;
  grid-template-areas:
    "interfejs"
    "app";
  overflow: hidden;
}
.button {
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  font-family: "Audiowide", cursive;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.div {
  min-width: 22vw;
  min-height: 32vh;
  font-weight: bold;
  font-size: 20px;
  font-family: system-ui;
  padding: 15px;
  border: 7px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menu_interfejs {
  grid-area: interfejs;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#main_app {
  position: relative;
  grid-area: app;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
}
#zbiornik {
  top: 20px;
  position: absolute;
  padding: 30px;
  grid-area: app;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
}
.done_true {
  background-color: lightgreen;
}
.done_false {
  background-color: tomato;
}
.h2 {
  text-align: center;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.importance {
  -webkit-text-stroke: 1px black;
  margin: 5px;
  font-weight: bold;
  font-family: "Audiowide", cursive;
  font-size: 2.5em;
  color: rgba(255, 255, 0, 0.733);
}
.font {
  font-family: "Russo One", sans-serif;
}

#interfejs {
  width: 24vw;
  background-color: rgba(255, 255, 255, 0.544);
  padding: 40px;
  border: 7px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.div_radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
#app_divs {
  width: 78vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.main_btn {
  border-radius: 20px;
  border: 6px solid black;
}
