@import url("https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

#all {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 12vh 73vh;
  grid-template-areas:
    "interfejs"
    "app";
  overflow: hidden;
}
.guzik {
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  font-weight: bold;
  font-family: "Audiowide", cursive;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}
.div {
  width: 22vw;
  height: 32vh;
  font-weight: bold;
  font-size: 20px;
  font-family: system-ui;
  padding: 15px;
  border: 8px solid black;
  border-radius: 25px;
  background-color: rgb(149, 149, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menu_interfejs {
  background-color: #9e9c9cc7;
  grid-area: interfejs;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#main_app {
  position: relative;
  grid-area: app;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
}
#zbiornik {
  top: 20px;
  position: absolute;
  padding: 30px;
  grid-area: app;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
}
.done_true {
  background-color: lightgreen;
}
.done_false {
  background-color: tomato;
}
.h2 {
  text-align: center;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tytul {
  font-family: "Audiowide", cursive;
  margin: 8px;
  text-align: center;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  font-size: 90px;
  padding: 50px;
}
#tytul_div {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.importance {
  -webkit-text-stroke: 1px black;
  margin: 5px;
  font-weight: bold;
  font-family: "Audiowide", cursive;
  font-size: 2.2em;
  color: yellow;
}
.font {
  font-family: "Russo One", sans-serif;
}

#interfejs {
  width: 24vw;
  background-color: rgba(255, 255, 255, 0.544);
  padding: 40px;
  border: 7px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.div_radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
#app_divs {
  width: 78vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.main_btn {
  background-color: #d0c4bc;
  color: black;
  border: 6px solid black;
}
/*okładka*/
body {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh 85vh;
  grid-template-areas:
    "menu"
    "main";
}
#menu {
  grid-area: menu;
  background-color: #2d2d2c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
#main {
  grid-area: main;
  background-color: #8c8171;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guzik_menu {
  color: white;
  background-color: black;
  font-size: 20px;
  font-family: "Audiowide", cursive;
  border-radius: 30px;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}
.guzik_menu:hover {
  background-color: white;
  color: black;
  transition: 1s;
  border-color: white;
}
