:root {
  --black: black;
  --white: white;
  --light: rgb(226, 226, 226);
  --dark: rgba(0, 0, 0, 0.5);
  --blue: #5885af;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh 85vh;
  grid-template-areas:
    "menu"
    "main";
}
#menu {
  position: relative;
  grid-area: menu;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#main {
  grid-area: main;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guzik {
  letter-spacing: 1.5px;
  color: black;
  font-size: 25px;
  font-family: "Audiowide", cursive;
  padding: 20px;
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
  transition: transform 0.5s;
}
.guzik:hover {
  transform: translateY(15px);
}
